{% extends 'todoweb/base.html' %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="post">
            {% if user.is_authenticated %}
            <a class="btn btn-default borrar" href="/list/{{list.pk}}/delete/"><span class="glyphicon glyphicon-remove"></span></a>
            <a class="btn btn-default editar" href="/list/{{list.pk}}/edit"><span class="glyphicon glyphicon-pencil"></span></a>
            {% endif %}
            <h2 class="title"><a href="/list/{{list.pk}}">{{list.name}}</a> >></h2>
            
            <div class="text">
                <ul class="infoact">
                    <li>
                        Cosas Hechas: {{ list.activities_done.count }}
                    </li>
                    <li>
                        Cosas por Hacer: {{ list.activities_notdone.count }}
                    </li>
                </ul>
                <div class="whatd">
                    Que debería hacer? {{ list.activities_todo.title }}
                </div>
            </div>
            <div class="author">
                
                # de Cosas por Hacer: {{ list.activities.count }}
                
            </div>
        </div>
        <hr />
        <a class="btn btn-default addcomment" href="/activity_add/{{list.pk}}">¡Agregar algo que hacer!</a>
        {% for activity in list.activities_notdone.all %}
        <div id="comment{{activity.pk}}" class="comment">

            <div class="hcomment">
            
            
            <a class="btn btn-default" href="/activity_remove/{{activity.pk}}"
            ><span class="glyphicon glyphicon-remove"></span
            ></a>
            
            <a class="btn btn-default" href="/activity_done/{{activity.pk}}"
            ><span class="glyphicon glyphicon-ok"></span
            ></a>
            
            
            </div>
            
            <div class="activities">
                <strong>{{ activity.title }}</strong>
                <div>{{ activity.description|linebreaks }}</div>
                <div class="date author">{{ activity.created_date }}</div>
            </div>
        </div>
            {% empty %}
            <p>Sin cosas por hacer :( ¡agregar una nueva! </p>
        {% endfor %}
    </div>
</div>
{% endblock %}