{% extends 'todoweb/base.html' %}
{% block content %}
    <form method="POST" class="post-form">{% csrf_token %}
        <div class="row">
            <div class="col-md-4 instructions newList">
                {% if edit %}
                Sí el nombre actual no es de tu agrado, cámbialo por uno más interesante!
                {% else %}
                Para crear una lista sólo es necesario un nombre, se recomienda uno representativo de las cosas pendientes que pondrás en ella, pero puedes colocar lo que quieras!
                {% endif %}
            </div>
            <div class="col-md-8">
                
                <div class="post">
                    
                   
                    <h2 class="title">
                        {% if edit %}
                        Editar lista >>
                        {% else %}
                        Crear nueva lista >>
                        {% endif %}
                    </h2>
                    
                    <div class="text nform">
                        {{ form.as_p }}
                    </div>
                    <div class="author fform">
                        <button type="submit" class="save btn btn-default">Guardar</button>
                    </div>
                </div>

                
          
            </div>
        </div>
    </form>
{% endblock %}