{% extends "todoweb/base.html" %} {% block content %} {% if form.errors %}
<p>Usuario incorrecto, vuelva a intentarlo.</p>
{% endif %}
<form method="post" action="{% url 'login' %}">
{% csrf_token %}
    <div class="post login">
        <h2 class="title">Login >></h2>
        <table>
            <tr>
            <td>{{ form.username.label_tag }}</td>

            <td>{{ form.username }}</td>
            </tr>
            <tr>
            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
            </tr>
        </table>
        <input type="submit" value="Login" />
        <input type="hidden" name="next" value="{{ next }}" />
        <div class="registerNotice">
            <p>¿No tienes una cuenta? Crea una <a href="% url 'register' %">aquí!</a></p>
        </div>
    </div>
</form>
{% endblock %}