{% extends "todoweb/base.html" %} {% block content %} {% if form.errors %}
<div class="alert alert-danger">
    <strong>Usuario incorrecto, por favor vuelva a intentarlo.</strong>
</div>
{% endif %}
<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<div class="registerNotice2">
    Para utilizar esta aplicación es necesario una cuenta.
    <p>¿No tienes una? Crea una <a href="/accounts/register">aquí!</a></p>
</div>
    <div class="post login">
        <h2 class="title">Login >></h2>
        <table>
            <tr>
            <td>{{ form.username.label_tag }}</td>

            <td>{{ form.username }}</td>
            </tr>
            <tr>
            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
            </tr>
        </table>
        <input type="submit" value="Login" />
        <input type="hidden" name="next" value="{{ next }}" />
        <div class="registerNotice">
            <p>Esta aplicación que permite administrar las cosas pendientes por hacer por medio de listas, puedes tener cuantas listas gustes y cuantas actividades requieras. <br/>
                <b>¡Únete YA!</b></p>
        </div>
    </div>
</form>
{% endblock %}